@tailwind base;
@tailwind components;
@tailwind utilities;

.dd {
  background: -webkit-linear-gradient(rgb(35, 35, 35), rgb(23, 23, 23));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mdx h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 6px;
}

.mdx h3 {
  font-size: 19px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.mdx h4 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 5px;
}

.mdx p {
  color: rgb(70, 70, 70);
  font-size: 17px;
}

.aboutus section.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://ik.imagekit.io/0s9lwb2yr/DreamDesign/pexels-pixabay-416405__1__xMbR92A6x.jpg?updatedAt=1686247108777');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services section.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://ik.imagekit.io/0s9lwb2yr/DreamDesign/heroImage_9eXL2A703.jpg?updatedAt=1686511011023');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interior section.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/1005058/pexels-photo-1005058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exterior section.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/7031607/pexels-photo-7031607.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.construction section.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mdx ul {
  list-style-type:disc;
  color: rgb(70, 70, 70);
  padding-left: 30px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 768px) {
  .mdx h2 {
    font-size: 24px;
  }

  .mdx h3 {
    font-size: 18px;
  }

  .mdx h4 {
    font-size: 17px;
  }

  .mdx ul {
    font-size: 16px;
  }
}